###############################################################
# WhiteSource Unified-Agent configuration file
###############################################################
# GENERAL SCAN MODE: Files and Package Managers
###############################################################
# Organization vitals
######################

apiKey=1234

projectName=Sultan-maven
projectToken=

productName=

fileSystemScan=false

resolveAllDependencies=false
